<div class="w-screen h-screen flex flex-row relative">
  <div class="w-[50%] h-[100%] bg-custom-primary">
  </div>
  <div class="w-[50%] h-[100%] bg-custom-secondary">
  </div>
  <!-- Contenedor Principal -->
  <div class="absolute top-[20%] left-[20%] w-[60%] h-[60%] flex flex-row rounded-3xl shadow-2xl ">
    <div class="bg-white w-[50%] h-[100%] rounded-tl-3xl rounded-bl-3xl flex items-center justify-center">
      <div class="w-[70%] h-[80%] flex flex-col items-center">
        <!-- <img src="/assets/fotografo.png" alt="" class="w-[12%] h-[10%]"> -->
        <p class="text-black font-bold text-5xl font-google-anta mt-2">Login</p>
        <!-- bg-slate-200 -->
        <button
          class="relative flex flex-row gap-3 items-center text-black font-google-anta w-[75%] py-3 rounded-md shadow-y-shadow mt-8">
          <img src="assets/google.png" alt="" class="absolute w-7 h-7 left-3">
          <div class="flex-grow flex items-center justify-center">
            <span>Login in with Google</span>
          </div>
        </button>
        <div class=" w-[75%] py-[6%] flex flex-row justify-center items-center">
          <div class="flex-grow h-[2%] bg-slate-300 opacity-60 mr-2"></div>
          <span class="text-slate-300">OR LOGIN WITH EMAIL</span>
          <div class="flex-grow h-[2%] bg-slate-300 opacity-60 ml-2"></div>
        </div>
        <form action="" class="w-[75%] flex flex-col gap-8 items-center text-black font-google-anta">
          <input type="email" name="" id="" placeholder="Correo Electronico"
            class="w-[100%] border-slate-300 border-2 rounded-md shadow-y-shadow focus:outline-none py-3 px-3">
          <input type="password" name="" id="" placeholder="Contraseña"
            class="w-[100%] border-slate-300 border-2 rounded-md shadow-y-shadow focus:outline-none py-3 px-3">
        </form>
        <button class="bg-custom-secondary font-google-anta w-[75%] py-3  mt-8 rounded-md text-white">
          Iniciar Sesion !!!
        </button>
        <div class=" w-[75%] h-[12%] flex justify-center items-center">
          <div class="h-[1%] w-[100%] bg-slate-300 opacity-60"></div>
        </div>
        <div class="flex flex-row font-google-anta">
          <span class="text-slate-300 pr-3">Don't have on account yes?</span> <a href=""
            class="text-custom-secondary underline">Sing
            up</a>
        </div>
      </div>
    </div>
    <div class="bg-custom-primary w-[50%] h-[100%] rounded-tr-3xl rounded-br-3xl flex items-center justify-center">
      <img src="https://lukaszadam.com/images/free-illustrations/website_work.svg" alt="Ilustración"
        class="w-[80%] h-[50%]">
    </div>
  </div>
</div>